<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Tensei: Atsumaru"
        android:theme="@android:style/Theme.NoDisplay">

        <provider
            android:name=".ScraperProvider"
            android:authorities="com.blissless.atsumaru.provider"
            android:exported="true" />

        <receiver
            android:name=".ExtensionBeaconReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.blissless.mangaclient.EXTENSION_BEACON" />
            </intent-filter>
        </receiver>

    </application>
</manifest>
